/pipeline/pipeline.iml
/python/python.iml
/old-pipeline/old-pipeline.iml
/.idea
/pipeline/aws_chiles02/*.settings
/out

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod~]

# C extensions
*.so

.DS_Store
/pipeline/aws_chiles02.egg-info/
/pipeline/build/
/pipeline/.eggs/
/machine_learning/machine_learning.iml
/pipeline/dist/
